body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the content area fills at least the height of the viewport */
}

header {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    flex: 1; /* Allow the main content to grow and fill available space */
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.pizza-menu {
    display: inline-block;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pizza-card {
    padding: 20px;
}

.pizza-card img {
    max-width: 100%;
    border-radius: 10px;
}

.pizza-card h2 {
    color: #333;
    margin-top: 10px;
    font-weight: bold;
}

.pizza-card p {
    color: #666;
}

.pizza-card button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pizza-card button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Push the footer to the bottom */
}
